# Logs
.venv/
logs
*.log
*.p12
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/src/*.js
services/venv/*
services/uploads/*
pyvenv.cfg
*.jpeg
*.png
*.gif
services/.env
services/.env.local
services/.env.development
services/.env.test
services/.env.production
services/.env.staging

services/__pycache__/
services/.pytest_cache
services/.mypy_cache
services/.coverage
*.pyc
*.cpython-*
services/routes/__pycache__/
sevices/uploads/*
services/routes/.pytest_cache
services/routes/.mypy_cache
services/routes/.coverage
services/routes/*.pyc
services/routes/*.cpython-*
services/routes/__pycache__
*.pyc
services/models/__pycache__/**
services/models/__pycache__/ClientModel.cpython-312.pyc
services/models/__pycache__/ClientModel.cpython-312.pyc
services/routes/__pycache__/User.cpython-312.pyc
services/routes/__pycache__/Vehicle.cpython-312.pyc
services/routes/__pycache__/User.cpython-312.pyc
*.pyc
services/__pycache__/
.env
ecommerce/node_modules
ecommerce/.next
ecommerce/.env.local
ecommerce/.env.development
*.pdf
*.docx
*.xlsx
*.pptx
*.zip
*.tar.gz
*.rar
*.7z
*.exe
*.dll
*.so
*.dmg
*.iso
*.log
*.tmp
clinical/node_modules
clinical/.env.local
clinical/.env.development
clinical/.env.test
clinical/.env.production
clinical/.next
clinical/.DS_Store
clinical/.vscode